In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("input/tasks.csv")

In [3]:
df

    Name   Start day     End day  Work
0   p2.e  2024-11-21  2024-12-04    10
1   p2.m  2024-12-05  2025-04-02   170
2   p2.f  2025-04-03  2025-04-30    60
3   p3.e  2024-12-01  2024-12-13     4
4   p3.m  2024-12-14  2025-05-30   112
5   p3.f  2025-05-31  2025-06-27    24
6   p4.e  2024-12-16  2025-01-03    15
7   p4.m  2025-01-04  2025-06-20   240
8   p4.f  2025-06-21  2025-07-18    40
9   p5.e  2024-12-31  2025-01-13    16
10  p5.m  2025-01-14  2025-05-12   102
11  p5.f  2025-05-13  2025-06-09    40
12  p6.e  2025-01-20  2025-02-14    20
13  p6.m  2025-02-15  2025-08-01   122
14  p6.f  2025-08-02  2025-08-29    24